@model IEnumerable<Crud.Models.PostModel>
@{
    ViewBag.Title = "Index";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PostID)
        </th>
        <th>
            <h5><b>Image</b></h5>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Heading)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-right">@item.PostID</td>
            <td>
 
                <img class="img-thumbnail" width="150" height="150" src="~/Img//@item.ImagePath" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Heading)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new
                         {
                             item.PostID
                         })|
                @using (Html.BeginForm("DeletePosts", "Home"))
                {
                    @Html.Hidden("PostID", item.PostID)
                    <input type="submit"
                           class="w3-btn w3-white w3-border w3-border-red w3-round-xlarge"
                           value="Delete" />

                }
            </td>
        </tr>
    }

</table>






<!-- Content -->
<div class="w3-content w3-container" style="max-width:1100px;margin-top:80px;margin-bottom:80px">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div style="overflow-x:auto;">
        <table class="w3-table-all w3-black-grey w3-bordered">
            <tbody>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Heading)</th>
                    <th>@Html.DisplayNameFor(model => model.PostBody)</th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Heading)</td>
                        <td>@Html.DisplayFor(modelItem => item.PostBody)</td>
       
                        <td>
                            @Html.ActionLink("Edit", "Edit", new
                       {
                           item.PostID
                       })|
                            @using (Html.BeginForm("Delete", "Home"))
                            {
                                @Html.Hidden("PostID", item.PostID)
                                <input type="submit"
                                       class="w3-btn w3-white w3-border w3-border-red w3-round-xlarge"
                                       value="Delete" />

                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
