@model Crud.Models.PostVM
@{
    ViewBag.Title = "Create";
}
<h2>Create</h2>

    @using (Html.BeginForm("Edit", "Home", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.LabelFor(m => m.Heading)
        @Html.TextBoxFor(model => model.Heading)
        @Html.ValidationMessageFor(model => model.Heading)

        @Html.LabelFor(model => model.Body)
        @Html.TextAreaFor(model => model.Body)
        @Html.ValidationMessageFor(model => model.Body)

        @Html.EditorFor(m => m.Images)

        @Html.LabelFor(model => model.Files)
        @Html.TextBoxFor(model => model.Files, new { type = "file", multiple = "multiple" })
        @Html.ValidationMessageFor(model => model.Body)

        <input type="submit" value="Save" />
    }

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
